<% if not user_signed_in? %>

  <h2>Nueva Encuesta</h2>
  <br><br>

  <%= form_for(@teclera) do |f| %>
    <div class="field">
      <%= f.label :cantidad %><br>
      <%= f.number_field(:cantidad, in:2..6, step: 1) %>
    </div>
    <div class="actions">
      <%= f.submit 'Crear Encuesta'%>
    </div>
  <% end %>
<% else %>
  <%= render 'encuesta', teclera: @teclera %>
<% end %>
