<%= simple_form_for @video, :url => @url  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :url %>
    <%= f.input :name %>
    <%= f.input :unit %>
    <%= f.label :evaluacion_formativa%><br>
    <%= f.collection_select :tree_id, @course.trees.sort_by{|e| e[:created_at]},:id, :text, include_blank: true %>
    <%= f.hidden_field :course_id, value: @course.id %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>
<% end %>
