<p id="notice"><%= notice %></p>

<h1>Videos</h1>
<br>
<% if current_user.role? %>
  <%= link_to 'New Video', new_course_video_path, class: "btn btn-primary" %>
<% end %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Views</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit, videos| %>
      <tr>
        <td><h3>Unidad <%= unit %></h3></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <td><%= views_counter(video) %></td>
          <td><%= link_to 'Ver Video', course_video_path(@course, video), class:"btn btn-primary btn-xs" %></td>
          <% if current_user.role? %>
            <td><%= link_to 'Editar', edit_course_video_path(@course, video), class:"btn btn-primary btn-xs" %></td>
            <td><%= link_to 'Eliminar', course_video_path(@course, video),:class=>"btn btn-danger btn-xs", :style=>'color:white', method: :delete, data: { confirm: '¿Estás seguro que desesas eliminar la actividad?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
