<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; background-color: black;padding:0;margin:0;">
  <br>
  <p>
  <iframe width="560" height="315" src="<%= @video.final_url %>" frameborder="0" allowfullscreen></iframe>
  </p>
  <br>
</div>
<div class="container" style="text-align:left">
  <h3><%= @video.name %></h3>
  <h4><%= @video.course.name %> <small>(<%= @counter %>)</small></h4>
  <br>
  <% if @video.tree_id? %>
    <td><%= link_to 'Evaluación Formativa', [@course, Tree.find(@video.tree_id), {:type =>'initial', :state => "not_seen"}], method: :post, class:"btn btn-primary", style:'color:white'%></td>
  <% end %>
  <br>
</div>
