<div class="container-fluid">

  <% if @homework.actual_phase == "rehacer" %>

    <% if @my_answer.argumentar != nil %>

      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10">
          <h3><b>Editar nota argumento compa침er@</b></h3>
          <h4>Elija calificaci칩n a asignar</h4>
          <%= form_for @my_answer, :url => { :action => "update", :id => @my_answer.id }, authenticity_token: true do |f| %>
          <div class="field">
            <%= f.select :grade_eval_1, options_for_select(1..7)%>
          </div>
          <div class="field">
            <% if @my_answer.grade_argue_1 == nil %>
              <%= f.submit "Agregar nota argumento 1", class: "btn be-red white"%>
            <% else %>
              <%= f.submit "Editar nota argumento 1", class: "btn be-red white"%>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

    <% end %>

    <% if @my_answer.argumentar_2 != nil %>

      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10">
          <h3><b>Editar nota argumento compa침er@</b></h3>
          <h4>Elija calificaci칩n a asignar</h4>
          <%= form_for @my_answer, :url => { :action => "update", :id => @my_answer.id }, authenticity_token: true do |f| %>
          <div class="field">
            <%= f.select :grade_eval_2, options_for_select(1..7)%>
          </div>
          <div class="field">
            <% if @my_answer.grade_argue_2 == nil %>
              <%= f.submit "Agregar nota argumento 2", class: "btn be-red white"%>
            <% else %>
              <%= f.submit "Editar nota argumento 2", class: "btn be-red white"%>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
  <% end %>


</div>
