<div class="text-left">
	<% if @homework.upload %>
		<div class="thumbnail">
			<%= render 'part0_pregunta' %>
		</div>
		<div class="thumbnail">
		<% if @my_answer != nil %>
			<% if @homework.actual_phase != "responder" %>
				<%= render 'part1_responder' %>
				<% if @homework.actual_phase != "argumentar" %>
					<%= render 'part2_argumentar' %>
					<% if @homework.actual_phase != "rehacer" %>
						<%= render 'part3_rehacer' %>
						<% if @homework.actual_phase != "evaluar" %>
							<%= render 'part4_evaluar' %>
							<% if @homework.actual_phase != "integrar" %>
								<%= render 'part5_integrar' %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<% if @homework.actual_phase == "argumentar"%>
			<% if @bit_argue == 1 %>
				<%= render 'arguments' %>
			<% end %>

		<% elsif @homework.actual_phase == "rehacer"%>
			<%= render 'rehacer' %>
			<%= render 'form' %>

		<% else %>
			<%= render 'form' %>
		<% end %>

		</div>
	<% end %>
</div>
