
<div style="text-align: left">
	<div style="text-align:left">
		<h1><%= @homework.name %></h1>
		<h2><b>Etapa: <%= @homework.actual_phase.capitalize %></b></h2>
		<br>
		<%= link_to 'Volver', homeworks_path, :class=>"btn btn-primary", :style=>'color:white' %>
		<br></br>
		<div class="thumbnail">
			<%= render 'full_0' %>
		</div>
	</div>
	<br>
	<% @students.sort_by{|e| e[:last_name]}.each do |user| %>
			<% begin %>
			<% @my_answer = user.answers.find_by_homework_id(@homework.id) %>
			<% rescue %>
			<% @my_answer = nil %>
			<% end %>
			<div class="thumbnail">
				<% begin %>
				<h3><%= "Nombre: " + user.first_name + " " + user.last_name%></h3>
				<%= render 'full_1' %>
				<% rescue %>
				<% end %>
				<br>
				<% begin %>
				<%= render 'full_2' %>
				<% rescue %>
				<% end %>
				<br>
				<% begin %>
				<%= render 'full_3' %>
				<% rescue %>
				<% end %>
				<br>
				<% begin %>
				<%= render 'full_4' %>
				<% rescue %>
				<% end %>
				<br>
				<% begin %>
				<%= render 'full_5' %>
				<% rescue %>
				<% end %>
				<br>
			</div>
	<%end%>
	<br>
</div>
